input {
  width: 480px;
  height: 50px;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
  font-family: "Proxima Nova";
  padding-right: 10px;
  font-size: 20px;
  color: rgba(45, 58, 66, 1);
  margin-bottom: 4px;
}
