@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: url("../proxima-nova-regular.eot");
  src: local("Proxima Nova"), local("ProximaNova"),
    url("../proxima-nova-regular.woff") format("woff"),
    url("../proxima-nova-regular.ttf") format("truetype");
}
