@import "../../assets/global/_customfont.scss";

.latest-search-container {
  margin-top: 10px;

  table {
    background-color: rgba(235, 245, 246, 1);
    width: 380px;

    thead tr h4 {
      margin: 0;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-family: "Proxima Nova";
    }

    tbody {
      .no-latest-post {
        width: 100%;
        text-align: center;
        height: 30px;

        span {
          color: rgba(1, 1, 1, 0.4);
          font-family: "Proxima Nova";
        }
      }

      .loading-progress-bar {
        width: 100%;
        text-align: center;
      }
    }

    .main-strip {
      display: flex;
      align-items: center;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      .strip-left {
        width: 60%;
        margin-left: 10px;
        h4 {
          font-family: "Proxima Nova";
          font-size: 15px;
          font-weight: 300;
        }

        .strip-left-date {
          color: rgba(0, 0, 0, 0.5);
        }
      }

      .strip-right {
        width: 40%;
        text-align: right;
        margin-right: 10px;

        .MuiRating-root {
          color: rgba(0, 211, 184, 1);
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .latest-search-container table {
    width: 360px;
  }
}
