@import "../../assets/global/_customfont.scss";

.user-review-card-container {
  width: 550px;
  background-color: rgba(235, 245, 246, 1);
  border: none;
  border-radius: 2px;
  margin-bottom: 12px;

  & {
    font-family: "Proxima Nova";
  }

  h4,
  h5 {
    margin: 8px;
  }

  h5 {
    font-size: 12px;
    font-weight: 300;
    opacity: 0.7;
  }
}

.user-review-card-header {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.card-header-left {
  width: 50%;
  text-align: left;

  h5 {
    font-size: 13px;
    font-weight: 500;
    opacity: 0.7;
  }
}

.card-header-right {
  width: 50%;
  text-align: right;

  .MuiRating-root {
    margin-right: 8px;
    color: rgba(0, 211, 184, 1);
  }
}

.user-review-card-map {
  height: 200px;

  div:first-child {
    height: 200px !important;
    width: 500px !important;

    .gmnoprint {
      display: none;
    }

    button {
      display: none;
    }

    // .gm-style {
    //   .gm-control-active .gm-fullscreen-control {
    //     display: none;
    //   }
    // }
  }
}

.user-review-card-description {
  margin: 0;
  padding: 0;
  h4 {
    font-size: 15px;
    font-weight: 400;
    opacity: 0.8;
    margin: 0;
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  .user-review-card-container {
    width: 100vw;
  }

  .user-review-card-map {
    div:first-child {
      height: 200px !important;
      width: 100% !important;
    }
  }
}
